*~
*.swp
.DS_Store

*.pyc
*.so
venv*
build/*

dist
emcee.egg-info
MANIFEST
docs.tar

*.png

.coverage
.pytest_cache
htmlcov
emcee_version.py

.tox
env
.eggs
.coverage.*

*-env/
*_env/

*.fits
*.fits.gz
*.xml

__pycache__
